* {
    background-color: #78d00c;
}

.border {
    border: 0.5rem solid;
    border-radius: 0.5rem;
}

#title {
    text-align: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

#passwordGen, #passwordLength {
    text-align: center;
}

#copyBtn {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 0.5rem;
    padding: 5px 100px;
    cursor: pointer;
}

#passwordSlider {
    text-align: center;
    cursor: pointer;
}

#generatePassword {
    margin: 1rem;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: darkgreen;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 0.5rem;
    cursor: pointer;
}
